<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Newbury\Async\Api\DispatchInterface" type="Newbury\Async\Model\Dispatch" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="async_runner" xsi:type="object">Newbury\Async\Console\Runner</item>
            </argument>
        </arguments>
    </type>
</config>